extends com/layout

block content
    h1= title
    p Welcome to #{title}
    if req.user
        a(href="/logout") Logout #{req.user.firstName} #{req.user.lastName}
    else
        p Login with
            a(href="/auth/google") Google11
            a(href="/auth/facebook") Facebook
    script(type="text/javascript").
        window.user = !{req.user}